# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
env/
venv/
ENV/
*.env
.envrc

# IDE / Editor files
.vscode/
.idea/
*.swp

# Logs and system files
*.log
.DS_Store
Thumbs.db

# Cache
*.egg-info/
.eggs/
.cache/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheels/
lib/
lib64/
parts/
sdist/
var/
share/python-wheels/
*.egg
MANIFEST

# Jupyter
.ipynb_checkpoints/

# mypy / coverage / tox
.mypy_cache/
.coverage
.tox/
.nox/

# Pycharm / Spyder / Rope
.spyproject/
.ropeproject/

# VSCode
.vscode/

# PyInstaller
*.spec

# pipenv / poetry / pdm
Pipfile.lock
poetry.lock
pdm.lock

# Misc
.pdm-python
.pixi
.pyre/
.pytype/
cython_debug/
